* {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: blueviolet;
    padding: 16px;
    color: white;
    text-align: center;
}


